.filename {
  font-family: var(--code-font-family);
  font-size: inherit;
  color: var(--accent-11);
  cursor: pointer;
}

.filename:hover {
  text-decoration: underline;
}

.meta {
  color: var(--gray-11);
}

.removed {
  color: var(--red-11);
  font-family: var(--code-font-family);
}

.resultContent {
  composes: scrollbarThin from "../../shared/scrollbar.module.css";
  max-height: 300px;
  overflow-y: auto;
}
